html, body{
    margin: 0;
    background: #eee;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
}

.menu a{
    color: inherit;
    line-height: 50px;
    height: 50px;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.4s;
}

.menu .menu__link-active{
    color: #ff0;
}

.content{
   margin-top: 70px;
}

.btnUp{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.btnUp-open{
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 568px){
    .menu a{
        display: block;
    }

    .content{
        margin-top: 220px;
    }
}