html, body, ul, li{
	margin: 0;
	padding: 0;
}

.gallery{
	width: 860px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.gallery .photos{
	position: relative;
	height: 670px;
}

.gallery .photos img{
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
}

.gallery .photos img.showed{
	opacity: 1;
}